body {
    font-family: Arial, Verdana;
    background-color: black;
    color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

  }
main h1 {
    font-size: 42px;
    text-align: center;
    padding: 15px;
  }

main h2 {
    font-size: 24px;
    color: #0D0D0D;
  }
  p {
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
  }
  main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    border: 10px dashed #ddd;
  }

  main div {
    min-height: 125px;
    padding: 20px;
    border: 3px solid #ddd;
  }
  main div.introduction {
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
  }
  main div.red {
    background-color: #FF0000;
    text-align: right;
    margin-left: 50px;
    border-right: 5px;
    border-top: 2px;
  }
main div.blue {
    background-color: #0000FF;
    text-align: left;
    margin-right: 50px;
    border-right: 5px;
    border-top: 2px;
}

h2, p .blue  {
    color: #C4C4C4;
}
main div.yellow {
    background-color: #FFFF00;
    text-align: right;
    margin-left: 50px;
    border-left: 5px;
    border-top: 2px;
}
.yellow p  {
    color: #707070;
}
main div.green {
    background-color: #00D800;
    text-align: left;
    margin-right: 50px;
    border-right: 5px;
    border-top: 2px;
}
footer {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,255,1) 25%, rgba(0,102,255,1) 70%, rgba(0,0,0,1) 100%);
    border: 3px solid #ddd;
}
footer p{
    font-size: 20px;
    text-align: right;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}



